
<!--
<nav class="navbar navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="https://www.grupoaval.com/home">
      <img src="../../assets/images/logo_bo.png" class="d-inline-block align-top img-bancoOccidente" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h6 class="card-title lbl-btn-continuar">Carlos Gomez</h6>
          <div class="bg-secondary text-white btn-continuar">Gerente de Relación*</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Carlos Gomez*</a>
          <a class="dropdown-item" href="#">Gerente de Relación*</a>
        </div>
      </li>
    </ul>
</nav>
  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      
    <a class="navbar-brand" href="https://www.grupoaval.com/home">
      <img src="../../assets/images/logo_bo.png" class="d-inline-block align-top img-bancoOccidente" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carlos Gomez*
            Gerente de Relación*
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>