<div class="content" role="main">

    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 text-center"></div>
      <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
            
        <div id="content-info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separador-info">
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label for="lbl-nombreEmpresa" class="lbl-nombreEmpresa">Flotas La Macarena *</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="lbl-nit" class="lbl-nit">NIT</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="lbl-campo" class="lbl-campo">Capa: </label><label for="lbl-campo-valor" class="lbl-campo-valor">Bronce*</label>
                    
                    <label for="lbl-separador" class="lbl-separador">&middot;</label>

                    <label for="lbl-campo" class="lbl-campo">Segmento: </label><label for="lbl-campo-valor" class="lbl-campo-valor">B*</label>
                </div>
            </div>
        </div>
        <div id="content-opciones" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separador-info">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Operación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Indicadores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Información Cliente</a>
                </li>
              </ul>
        </div>

        <div id="content-mensaje" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left separador-info content-mensaje">
            <label class="lbl-msj-inicial">Indique la línea de crédito que quiere reconsiderar</label>
        </div>
  
        <div id="content-botones" class="row separador-info">
  
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2 text-center"></div>
            <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4 text-center">
                <a id="link_cartera_ordinaria" href="https://www.grupoaval.com/home" class="content-card" >
                    <div class="card content-button">
                        <div class="card-body">
                            <img src="../../assets/images/cartera_ord.png" class="img-responsive img-btn-continuar">
                            <h6 class="card-title lbl-btn-continuar">Cartera ordinaria</h6>
                            <div class="bg-secondary text-white btn-continuar">Continuar</div>
                        </div>
                    </div>
                </a>
            </div>
  
            <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4 text-center">
                <a id="link_leasing" href="#" class="content-card disabled" >
                    <div class="card content-button">
                        <div class="card-body">
                            <img src="../../assets/images/leasing.png" class="img-responsive img-btn-continuar">
                            <h6 class="card-title lbl-btn-continuar">Leasing</h6>
                            <div class="bg-secondary text-white btn-continuar">Continuar</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2 text-center"></div>
        </div>
        
  
        <div id="content-alerta" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left separador-info">
            <div class="alert alert-warning msj-alerta" role="alert">
                <img src="../../assets/images/exclamation-circle.svg" alt="Bootstrap" width="16" height="16"> Las demás lineas de crédito no estarán disponible por el momento
            </div>
        </div>
  
        </div>
  
      </div>

      <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 text-center"></div>

    <div class="row">
  </div>